{% extends 'layout.html' %} {# Hereda los bloques de layout.html #}

{# Bloque para añadir el título específico #}
{% block title %}
    Inicio
{% endblock %}

{% block content %} {# Bloque para añadir el contenido específico #}

    <h1>Página de inicio</h1>

    {# Muestra msj. flash #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message alert-success">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {# Includes en templates de Flask #}
    {% include 'includes/edad.html' %}
    {% include 'includes/personas.html' %}

    {# Imprimir datos en la template #}
    {# Comentario multilinea #}
    {#
        {{dato1}}
        {{dato2}}
        {{lista}}
    #}

    {# coment (Comentario que no se interpreta en ningun lado de la pagina) #}

{% endblock %}