{% extends 'layout.html' %} <!--Herdera/Introduce layout dentro de este template-->

{% block title %} Listado de articulos {% endblock %} <!--Introduce título-->

{% block content %} <!--Introduce contenido-->

<h1 class="title">Listado de articulos</h1>

{% if messages %} <!-- Muestra msj flash si se guardo correctamente el articulo -->
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

        {% for articulo in articulos %}
            <article class="article-item">

                <!-- Si imagen es diferente a null y el n° caracteres de url es >= 1, muestra imagen-->
                {% if articulo.image != 'null' and articulo.image.url|length >= 1 %}
                    <div class="image"> <!-- div= Elemento en bloque-->
                        <img src="{{articulo.image.url}}"/>
                    </div>
                {% endif %}

                <div class="data">
                    <h2>{{articulo.title}}</h2>
                    <span class="date">{{articulo.created_at}}</span> <!-- span= Elemento en linea -->

                    {% comment "Si es publico o privado" %}
                    {% if articulo.public %}
                        <strong>Publicado</strong>
                    {% else %}
                        <strong>Privado</strong>
                    {% endif %}
                    {% endcomment %}
                    
                    <p>
                        {{articulo.content}}
                        <!-- Elimina articulo usando el parámetro id -->
                        <a href="{% url 'borrar' id=articulo.id %}" class="btn btn-delete">Eliminar</a>
                    </p>
                </div>

                <!--evita elementosAbajo suban arriba x culpa del float -->
                <div class="clearfix"></div> <!--Separador de articulos-->

            </article>
        {% endfor %}

{% endblock %}